body {
  background-color: #f0f0f0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./Assets//Images/Illustration2.png),
    url(./Assets/Images/Illustration1.png),
    url(./Assets/Images/Illustration3.png),
    url(./Assets/Images/Illustration4.png),
    url(./Assets/Images/Illustration5.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top -150px right -90px, bottom -50px left -160px,
    left 180px center, right top 70%, right 50px center;
  height: 95vh;
  background-size: 35%, 35%, 15%, 10%, 5%;
  padding: 0 20%;
}
